body {
    background-color: cornflowerblue;
}


img {
    float: right;
    height: auto;
    width: 350px;

}
h1 {
    text-align: center;
}
li {
    display:inline ;
}
button {
    background-color: darkorchid;
}